# IS 4487 Lab 6

## Outline

Repeat exercises from Lab 5, but with the *SuperStore Retail Orders* dataset.  Your target variable is total sales revenue.  


<a href="https://colab.research.google.com/github/Stan-Pugsley/is_4487_base/blob/main/Labs/Scripts/lab6_retailer_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Data Dictionary

 ORDER VARIABLES:
 - Order ID
 - Order Date
 - Order Year Month - Year and month of the order
 - Order Type - Was the order completed at a store or online? (Retail, Online)
 - Quantity - Quantity ordered for the product

 CUSTOMER VARIABLES:
 - Customer Name
 - City
 - State Province
 - Email


PRODUCT VARIABLES:
 - Product Name
 - Product Line - Category of the product (i.e. Bikes Phones)
 - Product Price - Price in US Dollars
 - Product Status - Current status of the product (Active, Inactive)

## Load Libraries

➡️ Assignment Tasks
- Load any necessary libraries

In [1]:
import pandas as pd
import matplotlib as mpl
import sklearn as sl

## Import Data into Dataframe

➡️ Assignment Tasks
- Import data from the SuperStore retail dataset into a dataframe (in GitHub go to Labs > DataSets)
- Describe or profile the dataframe.  
- If your record count doesn't match the source file, then resolve the issue

In [3]:
df = pd.read_csv('superstore_retail_orders.csv')
df.describe()

           order_id       quantity  product_price
count  56043.000000   56004.000000   56043.000000
mean   61668.410578       3.348582    6198.309433
std     7508.142486     422.654112   35784.965255
min    45079.000000       1.000000       2.290000
25%    55644.500000       1.000000       7.950000
50%    61870.000000       1.000000     475.600000
75%    68097.000000       2.000000     914.620000
max    74147.000000  100000.000000  235481.000000

In [5]:
df.columns

Index(['order_id', 'order_date', 'order_year_month', 'customer_name', 'city',
       'state_province', 'email', 'order_type', 'quantity', 'product_name',
       'product_line', 'product_price', 'product_status'],
      dtype='object')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56043 entries, 0 to 56042
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          56043 non-null  int64
 1   order_date        56011 non-null  object
 2   order_year_month  56011 non-null  object
 3   customer_name     56043 non-null  object
 4   city              55569 non-null  object
 5   state_province    55569 non-null  object
 6   email             56043 non-null  object
 7   order_type        56043 non-null  object
 8   quantity          56004 non-null  float64
 9   product_name      56043 non-null  object
 10  product_line      56043 non-null  object
 11  product_price     56043 non-null  float64
 12  product_status    56043 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 5.6+ MB

## Prepare Data

➡️ Assignment Tasks
- Convert any numbers into the correct datatype if they are not already numeric
- Convert any character variables in to factors if they are appropriate for that datatype
- Check for outliers.   Remove any outliers that appear to be mistakes
- Remove rows with empty (NULL) values
- Create a total_amount variable, based on the product price and quantity

In [65]:
#Check for outliers. Remove any outliers that appear to be mistakes
df_clean = df[(df['order_date'] < '2024-06-30') & (df['order_year_month'] < '2024-06')]

# Convert any numbers into the correct datatype if they are not already numeric
df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])
df_clean['order_year_month'] = pd.to_datetime(df_clean['order_year_month'])

# Convert any character variables in to factors if they are appropriate for that datatype
df_clean['product_status'] = df_clean['product_status'].astype('category')
df_clean['order_type'] = df_clean['order_type'].astype('category')

<ipython-input-65-640d72b61ba0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_date'] = pd.to_datetime(df_clean['order_date'])
<ipython-input-65-640d72b61ba0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_year_month'] = pd.to_datetime(df_clean['order_year_month'])
<ipython-input-65-640d72b61ba0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['product_status'] = df_clean['product_status'].astype('category')
<ipython-input-65-640d72b61ba0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['order_type'] = df_clean['order_type'].astype('category')

In [64]:
df_clean['product_status'] = df_clean['product_status'].astype('category')
df_clean['product_status']

<ipython-input-64-39233c92385a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['product_status'] = df_clean['product_status'].astype('category')

0        Active
1        Active
2        Active
3        Active
4        Active
          ...
56023    Active
56024    Active
56025    Active
56026    Active
56027    Active
Name: product_status, Length: 50617, dtype: category
Categories (2, object): ['Active', 'Not Active']

## Create Basic Charts

➡️ Assignment Tasks
Your target variable is Total Sales Revenue

Create at least three charts showing revenue broken out by another variable.  

Each visualization should bring some insight into the total sales. You can use any variables for these sample plots.

In [ ]:
#chart 1

In [ ]:
#chart 2

In [ ]:
#chart 3